/*non ho messo una tabella perche onestamente non sapevo dove infilarla*/
body{
	font-family:Verdana;	
	color:#485064;
	margin: 0px;
}

#hfau h1 {
color:#4CC158;}
#sfau{
height:500px;}
#afau{
height:500px;}
#hdieb h1{
color:#F2B47E;}
#idie img{
height:250px;}
#idie1 img{
height:225px;}
#adie{
height:500px;}
#sdie{
height:500px;}
#hb h1 {
color:#F2D06B;}
#sb{
height:560px;}
#ab{
height:560px;}
#hdal h1 {
color:#03738C;}
#sboc{
height:600px;}
#aboc{
height:600px;}
#hba h1 {
color:#BF9F9F;}
#sba{
height:550px;}
#aba{
height:550px;}
#hmag h1 {
color:#BF3604;}
#sda{
height:560px;}
#ada{
height:560px;}
#hpic h1{
color:#BFBFBF;}
#apic{
height:750px;}
#spic{
height:750px;}
#hbr h1{
color:#BFBFBF;}


nav{
	background-color:#8E1303;
	padding:1%;asa≤
	height:45px;
	color:#F6F9FE;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    text-align:center;
    line-height: 45px;
   
} 
nav li{
     position: relative; 
	display:inline;
	
	
}
nav ul {
    list-style-type: none;
   margin: 0px;
    padding: 0px;
    text-align:center;
}
nav a{
	color:#F2BE5C;
	text-decoration:none;
	padding:60px;
	font-family:"times new roman";
	font-size:22px;
	
	}


nav a:hover, 
.dropdown:hover{
	color:#E13D21;	
}


.dropdown{
position: relative;
display: inline-block;
}
.dropdown-content1,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: #8E1303;
  min-width:192px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 5px;
}
.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
  color: #F2BE5C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
  background-color: #9E1B09;
}

.dropdown:hover .dropdown-content1,
.dropdown:hover .dropdown-content2,
.dropdown:hover .dropdown-content3 {
  display: block;
}




header{	
	background-color:#2C578C;
	padding:0%;
	height:170px;
}
header img{
	width: 100%;
		height: 100%;
		object-fit: cover; 
		opacity: 1;
}

header h1{
    font-family: Georgia;
	font-size: 60px;
	float:left;
	position: absolute;
	top: 20px;
	left: 125px;
	color:#F2BE5C;
	line-height: 45px;
	text-shadow: 7px 4px 6px rgba(0, 0, 0, 1);
	
}

	
aside{
	background-color:#F6F9FE;
	float:right;
	padding:1%;
	height:2800px;
	width:28%;
	padding-top:45px;
	font-family:"times new roman";
	font-size:18px;
	text-align: center;
	overflow-y: auto; 
	}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.thumbnail {
    margin: 20px;
    cursor: pointer;
}

.thumbnail img {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ddd;
    transition: transform 0.3s ease-in-out;
}

.thumbnail:hover img {
    transform: scale(1.7);
    height:150px;
}


div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 120px;
 margin-top:50px;
 margin-left: 50px;
 
}

div.container {
  font-family: "times new roman";
  font-size:17px;
  text-align: center;
  padding: 10px 20px;
}


footer{
	background-color:#8E1303;
	padding:1%;
	height:150px;
	padding-left:50px;
	color:#F2BE5C;
	text-align:left;
	font-family:"times new roman";
	font-size:22px;
}
footer a{
    color:#F2BE5C}
footer a:hover{
    color: #E13D21;
}
footer img{
 float:left;
 margin-right:20px;
 width:15%;}

section{
	padding:1%;
	padding-top:45px;
	background-color:white;
	width:65%;
	margin-left:0px;
	height:2800px;	/*deve essere uguale all'altezza di aside*/
}

article{
	
	margin-left: 110px;
	margin-right:13px;
	margin-top: 27px;
	margin-bottom:130px;
	text-align: justify;
	font-family:"times new roman";
	font-size:18px;}
	
article a{
 color:#0C2043;
 font-weight:bold;}
 
 article a:hover{
 color:#E13D21;
 font-weight:bold;}
 

article h2{
	font-family:"times new roman";
	font-weight:bold;
	color:#0C2043;
	margin:20 30 20 30;	
}
